{% extends 'student_base.html' %}
{% load static %}
{% block content %}

<style>
  .table tr th{
    background: #290a09;
    color: #fff;
  }
</style>

<div class="container mt-5 mb-5">
    <div class="row">
        {% for x in data %}
        <div class="col-12 col-md-2">
          <a href="/test/{{ x.sub }}" style="text-decoration: none; color: black;">
            <center><i class="fa-solid fa-clipboard" style="font-size: 100px;"></i></center>
            <center><p>{{ x.sub }}</p></center>
          </a>
        </div>
        {% endfor %}
    </div>
</div>


<center>
  <div class="col-12 col-md-11 mt-5">
    <table class="table table-bordered border-secondary">
        <tr>
          <th class="text-center">Subject</th>
          <th class="text-center">Total Question</th>
          <th class="text-center">Wrong Answers</th>
          <th class="text-center">Score</th>
        </tr>        
        {% for x in score_data %}
        <tr>
          <td><center>{{ x.test_id }}</center></td>
          <td><center>{{ x.tot }}</center></td>
          <td><center>{{ x.worng_ans }}</center></td>
          <td><center>{{ x.student_score }}</center></td>
        </tr>              
        {% endfor %}
      </table>
  </div> 
</center>


<p>
  <center>
    <h5>Progress bar</h5>
  </center>
</p>

  <div class="container mt-4">
    <div id="progress-bar" style="width: 100%; background-color: #f3f3f3; border-radius: 5px;">
      <div id="progress-fill" style="width: 0%; height: 30px; background-color: #4caf50; border-radius: 5px;"></div>
    </div>
    <p id="progress-text">0%</p>
  </div>


<script>
  // Assuming `sscore` and `tot` are passed to your template engine
let sscore = '{{ sscore }}';
let tot = '{{ tot }}';

// Calculate percentage
let percentage = (sscore / tot) * 100;

// Update progress bar width and text
document.getElementById('progress-fill').style.width = percentage + '%';
document.getElementById('progress-text').innerText = Math.round(percentage) + '%';

</script>

{% endblock %}



