{% extends 'student_base.html' %}

{% block content %}
<style>
    p{
        margin-bottom: 5px;
    }
</style>
<div class="container mt-5">
    <h1 class="text-center">Welcome to Rise Learn!</h1>
    <p>These Terms and Conditions govern your use of the Rise Learn app and provide important information about your rights and obligations. By accessing or using the Rise Learn app, you agree to be bound by these Terms and Conditions and our Privacy Policy.</p>
    
    <div class="card mt-4">
        <div class="card-body">
            <h2>1. Use of the App</h2>
            <p>The Rise Learn app is designed to provide educational resources and interactive learning opportunities to students in rural areas.</p>
            <p>Users must be at least <strong>[Minimum Age]</strong> years old or have the consent of their parent or guardian.</p>
            <p>The app is for personal and educational use only. Commercial use is strictly prohibited.</p>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-body">
            <h2>2. Account Registration</h2>
            <p>Users may be required to register an account to access certain features of the app.</p>
            <p>Accurate and complete information must be provided during registration.</p>
            <p>Account security is the responsibility of the user. Any unauthorized use should be reported immediately.</p>
        </div>
    </div>
</div>

{% endblock %}