{% extends 'student_base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Rise Learn - FAQ</h1>
    
    <div class="card mt-4">
        <div class="card-body">
            <h4>1. What is Rise Learn?</h4>
            <p>Rise Learn is an innovative educational app designed to empower students in rural areas with access to quality educational resources, interactive learning tools, and mentorship programs to enhance their learning journey.</p>
           
        </div>
    </div>
    <div class="card mt-5">
        <div class="card-body">
            <h4>2. How does Rise Learn work? </h4>
            <p>Rise Learn provides a platform where students can access a wide range of educational materials, including video lessons, interactive quizzes, and eBooks, tailored to their educational needs. The app also connects students with educators and mentors for personalized guidance.</p>
        </div>
    </div>
</div>
{% endblock %}