{% extends 'student_base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Rise Learn - Privacy Policy</h1>
    <p>Welcome to the Rise Learn Education App ("Rise Learn," "we," "us," or "our"). Your privacy is of paramount importance to us. This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you visit our mobile application (the "Application"). Please read this privacy policy carefully. If you do not agree with the terms of this privacy policy, please do not access the application.</p>
    
    <div class="card mt-4">
        <div class="card-body">
            <h2>1. Information We Collect</h2>
            <p>We collect information that identifies, relates to, describes, or could reasonably be linked, directly or indirectly, with our users ("personal information"). In particular, we have collected the following categories of personal information within the last twelve (12) months:</p>
            <ul>
                <li>Identifiers: such as name, postal address, unique personal identifier, online identifier, Internet Protocol address, email address, account name, or other similar identifiers</li>
            </ul>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-body">
            <h2>2. Use of Your Information</h2>
            <p>Having accurate information about you permits us to provide you with a smooth, efficient, and customized experience. Specifically, we may use information collected about you via the Application to:</p>
            <ul>
                <li>Create and manage your account.</li>
                <li>Deliver targeted educational content and resources.</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}